cffi==1.17.1
charset-normalizer==3.3.2
cryptography==43.0.1
Deprecated==1.2.14
deprecation==2.1.0
ghostscript==0.7
img2pdf==0.5.1
lxml==5.3.0
markdown-it-py==3.0.0
mdurl==0.1.2
ocrmypdf==16.5.0
packaging==24.1
pdfminer.six==20240706
pi_heif==0.18.0
pikepdf==9.2.1
pillow==10.4.0
pluggy==1.5.0
prompt_toolkit==3.0.51
pycparser==2.22
Pygments==2.18.0
PyMuPDF==1.24.10
PyMuPDFb==1.24.10
PyPDF2==3.0.1
questionary==2.1.0
rich==13.8.1
setuptools==75.1.0
wcwidth==0.2.13
wrapt==1.16.0
